In [1]:
import numpy as np
import pandas as pd

In [28]:
def num_to_df(alist):
    def num_to_list(n):
        result = []
        for i in str(n):
            result.append(int(i))
        result = pd.Series(result)
        return result
    
    temp = pd.Series([])
    
    for num in alist:
        temp = pd.concat([temp, num_to_list(num)], axis=1, join='outer')
    
    temp = temp.fillna(-1).astype('int64')
    
    temp.columns = list(range(len(alist)))
        
    return temp

In [4]:
def num_to_list(n):
        result = []
        for i in str(n):
            result.append(int(i))
        result = pd.Series(result)
        return result

In [16]:
num_to_list(345)

0    3
1    4
2    5
dtype: int64

In [29]:
r = num_to_df([1,23, 345])

In [30]:
r

   0  1  2
0  1  2  3
1 -1  3  4
2 -1 -1  5

In [32]:
x = num_to_df([122, 225, 324])

In [33]:
x

   0  1  2
0  1  2  3
1  2  2  2
2  2  5  4

In [50]:
x[1:2]

   0  1  2
1  2  2  2

In [47]:
type(x[1:2])

pandas.core.frame.DataFrame

In [51]:
x.iloc[1]

0    2
1    2
2    2
Name: 1, dtype: int64

In [52]:
type(x.iloc[1])

pandas.core.series.Series

In [53]:
x.apply(max, axis = 1)

0    3
1    2
2    5
dtype: int64

In [54]:
type(x.apply(max, axis = 1))

pandas.core.series.Series

In [55]:
x['max'] = x.apply(max, axis = 1)

In [56]:
x

   0  1  2  max
0  1  2  3    3
1  2  2  2    2
2  2  5  4    5